In [16]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

# load dataset
df = pd.read_csv('/Users/urvashibalasubramaniam/Documents/GitHub/Kabir_Vohra_Urvashi_Balasubraniam_A1/retail_task/src/Retail.csv')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

First, understanding the dataset by checking its (1) categories (2) stats. Then check for any missing fields.

In [ ]:
# categories
df.columns

Index(['age', 'gender', 'income_bracket', 'loyalty_program',
       'membership_years', 'churned', 'marital_status', 'number_of_children',
       'education_level', 'occupation', 'transaction_id', 'transaction_date',
       'product_id', 'product_category', 'quantity', 'unit_price',
       'discount_applied', 'payment_method', 'store_location',
       'transaction_hour', 'day_of_week', 'week_of_year', 'month_of_year',
       'avg_purchase_value', 'purchase_frequency', 'last_purchase_date',
       'avg_discount_used', 'preferred_store', 'online_purchases',
       'in_store_purchases', 'avg_items_per_transaction',
       'avg_transaction_value', 'total_returned_items', 'total_returned_value',
       'total_sales', 'total_transactions', 'total_items_purchased',
       'total_discounts_received', 'avg_spent_per_category',
       'max_single_purchase_value', 'min_single_purchase_value',
       'product_name', 'product_brand', 'product_rating',
       'product_review_count', 'product_stock', 'product_return_rate',
       'product_size', 'product_weight', 'product_color', 'product_material',
       'product_manufacture_date', 'product_expiry_date', 'product_shelf_life',
       'promotion_id', 'promotion_type', 'promotion_start_date',
       'promotion_end_date', 'promotion_effectiveness', 'promotion_channel',
       'promotion_target_audience', 'customer_zip_code', 'customer_city',
       'customer_state', 'store_zip_code', 'store_city', 'store_state',
       'distance_to_store', 'holiday_season', 'season', 'weekend',
       'customer_support_calls', 'email_subscriptions', 'app_usage',
       'website_visits', 'social_media_engagement',
       'days_since_last_purchase'],
      dtype='object')

In [ ]:
# describe in common statistical terms
df.describe()

,age,membership_years,number_of_children,transaction_id,product_id,quantity,unit_price,discount_applied,transaction_hour,week_of_year,...,product_return_rate,product_weight,product_shelf_life,promotion_id,customer_zip_code,store_zip_code,distance_to_store,customer_support_calls,website_visits,days_since_last_purchase
count,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,...,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000
mean,48.489880,4.498445,1.999791,499796.925741,4999.302701,5.003425,500.120805,0.250013,11.508469,26.501809,...,0.250098,5.056466,181.891146,499.726743,55002.041589,54963.376260,50.011425,9.498734,49.511601,182.076024
std,17.868101,2.872934,1.414198,288558.279459,2887.681227,2.583392,288.440234,0.144315,6.925024,15.005291,...,0.144413,2.857353,105.272243,288.542749,25981.823465,25975.911014,28.863479,5.761851,28.864197,105.348022
min,18.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.100000,0.000000,1.000000,10000.000000,10000.000000,0.000000,0.000000,0.000000,0.000000
25%,33.000000,2.000000,1.000000,249944.000000,2495.000000,3.000000,250.130000,0.130000,5.000000,14.000000,...,0.130000,2.580000,91.000000,250.000000,32464.000000,32484.000000,25.000000,4.000000,25.000000,91.000000
50%,49.000000,4.000000,2.000000,499641.500000,4999.000000,5.000000,500.120000,0.250000,12.000000,27.000000,...,0.250000,5.060000,182.000000,500.000000,54997.000000,54933.000000,50.010000,9.000000,50.000000,182.000000
75%,64.000000,7.000000,3.000000,749525.250000,7501.000000,7.000000,749.940000,0.370000,18.000000,39.000000,...,0.380000,7.530000,273.000000,750.000000,77507.000000,77442.000000,74.990000,14.000000,75.000000,273.000000
max,79.000000,9.000000,4.000000,999999.000000,9999.000000,9.000000,1000.000000,0.500000,23.000000,52.000000,...,0.500000,10.000000,364.000000,999.000000,99998.000000,99998.000000,100.000000,19.000000,99.000000,364.000000

In [ ]:
# get categories (header values)
print(df.iloc[0])

age                             41
gender                      Female
income_bracket              Medium
loyalty_program                 No
membership_years                 3
                             ...
email_subscriptions             No
app_usage                   Medium
website_visits                   2
social_media_engagement     Medium
days_since_last_purchase         6
Name: 0, Length: 77, dtype: object

# Check for missing values

In [ ]:
df.info() # will give us count of non-null entries, among other things

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   age                        800000 non-null  int64
 1   gender                     800000 non-null  object
 2   income_bracket             800000 non-null  object
 3   loyalty_program            800000 non-null  object
 4   membership_years           800000 non-null  int64
 5   churned                    800000 non-null  object
 6   marital_status             800000 non-null  object
 7   number_of_children         800000 non-null  int64
 8   education_level            800000 non-null  object
 9   occupation                 800000 non-null  object
 10  transaction_id             800000 non-null  int64
 11  transaction_date           800000 non-null  object
 12  product_id                 800000 non-null  int64
 13  product_category           800000 non-null  object
 14  quantity                   800000 non-null  int64
 15  unit_price                 800000 non-null  float64
 16  discount_applied           800000 non-null  float64
 17  payment_method             800000 non-null  object
 18  store_location             800000 non-null  object
 19  transaction_hour           800000 non-null  int64
 20  day_of_week                800000 non-null  object
 21  week_of_year               800000 non-null  int64
 22  month_of_year              800000 non-null  int64
 23  avg_purchase_value         800000 non-null  float64
 24  purchase_frequency         800000 non-null  object
 25  last_purchase_date         800000 non-null  object
 26  avg_discount_used          800000 non-null  float64
 27  preferred_store            800000 non-null  object
 28  online_purchases           800000 non-null  int64
 29  in_store_purchases         800000 non-null  int64
 30  avg_items_per_transaction  800000 non-null  float64
 31  avg_transaction_value      800000 non-null  float64
 32  total_returned_items       800000 non-null  int64
 33  total_returned_value       800000 non-null  float64
 34  total_sales                800000 non-null  float64
 35  total_transactions         800000 non-null  int64
 36  total_items_purchased      800000 non-null  int64
 37  total_discounts_received   800000 non-null  float64
 38  avg_spent_per_category     800000 non-null  float64
 39  max_single_purchase_value  800000 non-null  float64
 40  min_single_purchase_value  800000 non-null  float64
 41  product_name               800000 non-null  object
 42  product_brand              800000 non-null  object
 43  product_rating             800000 non-null  float64
 44  product_review_count       800000 non-null  int64
 45  product_stock              800000 non-null  int64
 46  product_return_rate        800000 non-null  float64
 47  product_size               800000 non-null  object
 48  product_weight             800000 non-null  float64
 49  product_color              800000 non-null  object
 50  product_material           800000 non-null  object
 51  product_manufacture_date   800000 non-null  object
 52  product_expiry_date        800000 non-null  object
 53  product_shelf_life         800000 non-null  int64
 54  promotion_id               800000 non-null  int64
 55  promotion_type             800000 non-null  object
 56  promotion_start_date       800000 non-null  object
 57  promotion_end_date         800000 non-null  object
 58  promotion_effectiveness    800000 non-null  object
 59  promotion_channel          800000 non-null  object
 60  promotion_target_audience  800000 non-null  object
 61  customer_zip_code          800000 non-null  int64
 62  customer_city              800000 non-null  object
 63  customer_state             800000 non-null  object
 64  store_zip_code             800000 non-null  int64
 65  store_city                 800000 non-null  object
 66  store_state                800000 non-null  object
 67  distance_to_store          800000 non-null  float64
 68  holiday_season             800000 non-null  object
 69  season                     800000 non-null  object
 70  weekend                    800000 non-null  object
 71  customer_support_calls     800000 non-null  int64
 72  email_subscriptions        800000 non-null  object
 73  app_usage                  800000 non-null  object
 74  website_visits             800000 non-null  int64
 75  social_media_engagement    800000 non-null  object
 76  days_since_last_purchase   800000 non-null  int64
dtypes: float64(16), int64(23), object(38)
memory usage: 470.0+ MB

All columns have n (80,000) non-null values => no missing fields!

# Correlation Analysis
Numerical-numerical columns tested with corr()
Numerical-categorical columns tested with Point Biserial Correlation (after one-hot encoding categorical data)

In [ ]:
# correlation analysis -- every variable with target
# Separating numerical and categorical (non-numerical/string) data value columns
numericalCols = df.select_dtypes(include=["number"]).columns.tolist()

# wrt avg_purchase_value (target feature)
correlations = df[numericalCols].corr()["avg_purchase_value"]

# sort correlation values
correlations_sorted = correlations.sort_values(ascending=False)

# extract top 10 and bottom 10
print(correlations_sorted.head(10), "\n")
print("bottom:")
print(correlations_sorted.tail(10), "\n")

avg_purchase_value          1.000000
total_returned_items        0.002510
in_store_purchases          0.002482
quantity                    0.002272
transaction_id              0.001726
total_items_purchased       0.001661
website_visits              0.001527
customer_zip_code           0.001292
days_since_last_purchase    0.000979
product_review_count        0.000955
Name: avg_purchase_value, dtype: float64

bottom:
number_of_children          -0.001362
min_single_purchase_value   -0.001418
membership_years            -0.001789
product_return_rate         -0.002060
online_purchases            -0.002129
distance_to_store           -0.002428
product_rating              -0.002480
avg_discount_used           -0.002486
total_transactions          -0.002650
customer_support_calls      -0.002653
Name: avg_purchase_value, dtype: float64

Checking how many unique values exist per categorical column and thus checking if one-hot encoding is feasible:

In [ ]:
# select categorical cols
categoryCols = df.select_dtypes(exclude=["number"]).columns.tolist()

# loop through categorical variables, count unique values
print("Column name : number of unique values")
print("--------------------------------------")
for col_name in categoryCols:
    print(f"'{col_name}' : {df[col_name].nunique()}") # nunique counts unique vals

Column name : number of unique values
--------------------------------------
'gender' : 3
'income_bracket' : 3
'loyalty_program' : 2
'churned' : 2
'marital_status' : 3
'education_level' : 4
'occupation' : 4
'transaction_date' : 795027
'product_category' : 5
'payment_method' : 4
'store_location' : 4
'day_of_week' : 7
'purchase_frequency' : 4
'last_purchase_date' : 789895
'preferred_store' : 4
'product_name' : 4
'product_brand' : 3
'product_size' : 3
'product_color' : 5
'product_material' : 4
'product_manufacture_date' : 794914
'product_expiry_date' : 794875
'promotion_type' : 3
'promotion_start_date' : 789928
'promotion_end_date' : 789906
'promotion_effectiveness' : 3
'promotion_channel' : 3
'promotion_target_audience' : 2
'customer_city' : 4
'customer_state' : 3
'store_city' : 4
'store_state' : 3
'holiday_season' : 2
'season' : 4
'weekend' : 2
'email_subscriptions' : 2
'app_usage' : 3
'social_media_engagement' : 3

One hot encoding is feasible for all non-date values. 
Extracting data from relevant date values below:

# Date Features Analysis: 
What data could I potentially extract from the date columns?

*_'transaction_date' : 795027*_
Seasonality (extract quarter)
Week of the year – already a separate feature in my dataset
Month of the year – already given in “month of year”
Time of day – already given in “transaction hour”
Weekend indicator (yes/no binary value) – already done in “day of the week”

Therefore, delete this column as it provides no new information.

*_'last_purchase_date' : 789895*_
We already have purchase frequency
Could convert to “days since last purchase” – but this would have to be dynamically updated according to the current date, and still doesn’t provide much new information.

Therefore, delete this column as it provides little new information.

*_'product_manufacture_date' : 794914*_
*_'product_expiry_date' : 794875*_
This interval is already represented clearly in product_shelf_life

Therefore, delete this column as it provides no new information.

*_'promotion_start_date' : 789928*_
*_'promotion_end_date' : 789906*_

Convert this column to an interval (*promotion_time_period*) that calculates the number of days between start and end date

Creating interval column for promotion_time_period
and deleting all other date columns in place:

In [ ]:
# converting numerical to datetime datatype (for interval calculation)
df['promotion_start_date'] = pd.to_datetime(df['promotion_start_date'])
df['promotion_end_date'] = pd.to_datetime(df['promotion_end_date'])

# verifying if they are both successfully converted (then output=datetime64ns)
print(df['promotion_start_date'].dtype) 
print(df['promotion_end_date'].dtype) 

# creating new column in df = interval b/w promotion start and end date (unit = days)
df['promotion_time_period'] = (df['promotion_end_date'] - df['promotion_start_date']).dt.days

# dropping (deleting) date columns in new dataframe
df_new = df.drop(['transaction_date','last_purchase_date','product_manufacture_date','product_expiry_date','promotion_start_date','promotion_end_date'], axis=1)

datetime64[ns]
datetime64[ns]

In [ ]:
df_new.columns # check if the operation worked correctly

Index(['age', 'gender', 'income_bracket', 'loyalty_program',
       'membership_years', 'churned', 'marital_status', 'number_of_children',
       'education_level', 'occupation', 'transaction_id', 'product_id',
       'product_category', 'quantity', 'unit_price', 'discount_applied',
       'payment_method', 'store_location', 'transaction_hour', 'day_of_week',
       'week_of_year', 'month_of_year', 'avg_purchase_value',
       'purchase_frequency', 'avg_discount_used', 'preferred_store',
       'online_purchases', 'in_store_purchases', 'avg_items_per_transaction',
       'avg_transaction_value', 'total_returned_items', 'total_returned_value',
       'total_sales', 'total_transactions', 'total_items_purchased',
       'total_discounts_received', 'avg_spent_per_category',
       'max_single_purchase_value', 'min_single_purchase_value',
       'product_name', 'product_brand', 'product_rating',
       'product_review_count', 'product_stock', 'product_return_rate',
       'product_size', 'product_weight', 'product_color', 'product_material',
       'product_shelf_life', 'promotion_id', 'promotion_type',
       'promotion_effectiveness', 'promotion_channel',
       'promotion_target_audience', 'customer_zip_code', 'customer_city',
       'customer_state', 'store_zip_code', 'store_city', 'store_state',
       'distance_to_store', 'holiday_season', 'season', 'weekend',
       'customer_support_calls', 'email_subscriptions', 'app_usage',
       'website_visits', 'social_media_engagement', 'days_since_last_purchase',
       'promotion_time_period'],
      dtype='object')

In [ ]:
# overwrite df with df_new
df = df_new

# One Hot Encoding
Now that the date columns are cleaned up, performing one-hot encoding on remaining variables (all of which have n<10 columns)

In [ ]:
# getting category cols, from overwritten (just modified) df
categoryCols = df.select_dtypes(exclude=["number"]).columns.tolist()

df_encoded = pd.get_dummies(df, columns=categoryCols)

In [ ]:
print(df_encoded.head())

   age  membership_years  number_of_children  transaction_id  product_id  \
0   41                 3                   0          237855         997
1   40                 4                   4          500661        2869
2   48                 4                   3          432552        6172
3   19                 9                   3          771343        6004
4   53                 8                   2          186219        3565

   quantity  unit_price  discount_applied  transaction_hour  week_of_year  \
0         7      960.62              0.24                 0            48
1         5      219.52              0.46                12            19
2         8      759.95              0.11                22             1
3         9      862.15              0.44                11            36
4         3      609.81              0.19                11            42

   ...  weekend_No  weekend_Yes  email_subscriptions_No  \
0  ...        True        False                    True
1  ...        True        False                   False
2  ...       False         True                   False
3  ...        True        False                   False
4  ...       False         True                   False

   email_subscriptions_Yes  app_usage_High  app_usage_Low  app_usage_Medium  \
0                    False           False          False              True
1                     True           False           True             False
2                     True            True          False             False
3                     True           False          False              True
4                     True            True          False             False

   social_media_engagement_High  social_media_engagement_Low  \
0                         False                        False
1                         False                        False
2                          True                        False
3                         False                         True
4                          True                        False

   social_media_engagement_Medium
0                            True
1                            True
2                           False
3                           False
4                           False

[5 rows x 149 columns]

In [17]:
df = df_encoded # overwriting as it is correctly doing the operation

# typecasting all bools to integers (False -> 0, True -> 1)
boolean_cols = df.select_dtypes(include=['bool']).columns
df[boolean_cols] = df[boolean_cols].astype(int) 

print(df.head())

   age  membership_years  number_of_children  transaction_id  product_id  \
0   41                 3                   0          237855         997
1   40                 4                   4          500661        2869
2   48                 4                   3          432552        6172
3   19                 9                   3          771343        6004
4   53                 8                   2          186219        3565

   quantity  unit_price  discount_applied  transaction_hour  week_of_year  \
0         7      960.62              0.24                 0            48
1         5      219.52              0.46                12            19
2         8      759.95              0.11                22             1
3         9      862.15              0.44                11            36
4         3      609.81              0.19                11            42

   ...  weekend_No  weekend_Yes  email_subscriptions_No  \
0  ...           1            0                       1
1  ...           1            0                       0
2  ...           0            1                       0
3  ...           1            0                       0
4  ...           0            1                       0

   email_subscriptions_Yes  app_usage_High  app_usage_Low  app_usage_Medium  \
0                        0               0              0                 1
1                        1               0              1                 0
2                        1               1              0                 0
3                        1               0              0                 1
4                        1               1              0                 0

   social_media_engagement_High  social_media_engagement_Low  \
0                             0                            0
1                             0                            0
2                             1                            0
3                             0                            1
4                             1                            0

   social_media_engagement_Medium
0                               1
1                               1
2                               0
3                               0
4                               0

[5 rows x 149 columns]

Testing correlation for categorical variables with target (numerial) feature, using the Point Biserial test: