In [27]:
import pandas as pd
import matplotlib as plt

# load dataset
data = pd.read_csv('/Users/urvashibalasubramaniam/Documents/GitHub/Kabir_Vohra_Urvashi_Balasubraniam_A1/retail_task/src/Retail.csv')

First, understanding the dataset by checking its (1) categories (2) stats

In [13]:
# categories
data.columns

Index(['age', 'gender', 'income_bracket', 'loyalty_program',
       'membership_years', 'churned', 'marital_status', 'number_of_children',
       'education_level', 'occupation', 'transaction_id', 'transaction_date',
       'product_id', 'product_category', 'quantity', 'unit_price',
       'discount_applied', 'payment_method', 'store_location',
       'transaction_hour', 'day_of_week', 'week_of_year', 'month_of_year',
       'avg_purchase_value', 'purchase_frequency', 'last_purchase_date',
       'avg_discount_used', 'preferred_store', 'online_purchases',
       'in_store_purchases', 'avg_items_per_transaction',
       'avg_transaction_value', 'total_returned_items', 'total_returned_value',
       'total_sales', 'total_transactions', 'total_items_purchased',
       'total_discounts_received', 'avg_spent_per_category',
       'max_single_purchase_value', 'min_single_purchase_value',
       'product_name', 'product_brand', 'product_rating',
       'product_review_count', 'product_stock', 'product_return_rate',
       'product_size', 'product_weight', 'product_color', 'product_material',
       'product_manufacture_date', 'product_expiry_date', 'product_shelf_life',
       'promotion_id', 'promotion_type', 'promotion_start_date',
       'promotion_end_date', 'promotion_effectiveness', 'promotion_channel',
       'promotion_target_audience', 'customer_zip_code', 'customer_city',
       'customer_state', 'store_zip_code', 'store_city', 'store_state',
       'distance_to_store', 'holiday_season', 'season', 'weekend',
       'customer_support_calls', 'email_subscriptions', 'app_usage',
       'website_visits', 'social_media_engagement',
       'days_since_last_purchase'],
      dtype='object')

In [28]:
# describe in common statistical terms
data.describe()

,age,membership_years,number_of_children,transaction_id,product_id,quantity,unit_price,discount_applied,transaction_hour,week_of_year,...,product_return_rate,product_weight,product_shelf_life,promotion_id,customer_zip_code,store_zip_code,distance_to_store,customer_support_calls,website_visits,days_since_last_purchase
count,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,...,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000,800000.000000
mean,48.489880,4.498445,1.999791,499796.925741,4999.302701,5.003425,500.120805,0.250013,11.508469,26.501809,...,0.250098,5.056466,181.891146,499.726743,55002.041589,54963.376260,50.011425,9.498734,49.511601,182.076024
std,17.868101,2.872934,1.414198,288558.279459,2887.681227,2.583392,288.440234,0.144315,6.925024,15.005291,...,0.144413,2.857353,105.272243,288.542749,25981.823465,25975.911014,28.863479,5.761851,28.864197,105.348022
min,18.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.100000,0.000000,1.000000,10000.000000,10000.000000,0.000000,0.000000,0.000000,0.000000
25%,33.000000,2.000000,1.000000,249944.000000,2495.000000,3.000000,250.130000,0.130000,5.000000,14.000000,...,0.130000,2.580000,91.000000,250.000000,32464.000000,32484.000000,25.000000,4.000000,25.000000,91.000000
50%,49.000000,4.000000,2.000000,499641.500000,4999.000000,5.000000,500.120000,0.250000,12.000000,27.000000,...,0.250000,5.060000,182.000000,500.000000,54997.000000,54933.000000,50.010000,9.000000,50.000000,182.000000
75%,64.000000,7.000000,3.000000,749525.250000,7501.000000,7.000000,749.940000,0.370000,18.000000,39.000000,...,0.380000,7.530000,273.000000,750.000000,77507.000000,77442.000000,74.990000,14.000000,75.000000,273.000000
max,79.000000,9.000000,4.000000,999999.000000,9999.000000,9.000000,1000.000000,0.500000,23.000000,52.000000,...,0.500000,10.000000,364.000000,999.000000,99998.000000,99998.000000,100.000000,19.000000,99.000000,364.000000

In [25]:
# get categories (header values)
print(data.iloc[0])

age                             41
gender                      Female
income_bracket              Medium
loyalty_program                 No
membership_years                 3
                             ...
email_subscriptions             No
app_usage                   Medium
website_visits                   2
social_media_engagement     Medium
days_since_last_purchase         6
Name: 0, Length: 77, dtype: object

Need to perform one-hot encoding on the following categorical variables. Of the 77 columns:
(1) Identifying those that have Strings as fields
(2) Coming up with a standard rule to perform one-hot encoding without my manual intervention required